.countdown-section {
    width: 100%;
    background: yellow;
    position: relative;
}

.countdown {
    padding: 10px;
    background: var(--color-purple);
}

.countdown time span {
    margin: 0 1rem;
}

time span p {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
}

time span small {
    font-size: 1.2rem;
    font-weight: 200;
    background: orangered;
    padding: 0 2px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.close {
    position: absolute;
    font-size: 1.5rem;
    top: 5px;
    right: 18%;
    color: red;
    border: 2px solid red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}