.profile-sec {
    background: var(--dark-blue);
    min-height: 100vh;
}

.profile {
    min-width: 350px;       
    border: 1px solid #fff;
    margin-bottom: 1rem;

    img {
        margin-left: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
    .icon {
        margin: 1rem;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }


}


@media screen and (max-width: 600px) {
    .profile {
        flex-direction: row;
    }
}