@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

section {
    background: rgb(225, 222, 224);
    // background: linear-gradient(
    //     135deg,
    //     rgb(223, 10, 172, 1) 35%,
    //     rgb(223, 10, 172, 1) 46%
    // );
}

.weather {
    width: 100%;
    max-width: 350px;
    height: 80vh;
    background: url(../../assets/weather.jpg);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.weather::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
}

.weather-app {
    z-index: 999;
}

input {
    font-size: 1rem;
    color: #fff;
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
}
input::placeholder {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: 'Manrope', sans-serif;
}

.weather-app > *, 
.result > * {
    color: #fff;
}

.result {
    padding: 3rem;
    background: rgba(3, 150, 255, 0.4);
    p {
        line-height: 27px;
    }
}

img {
    width: 30%;
}

.error {
    background: rgba(255, 0, 4, 0.3);
    padding: 1rem;
}